@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.content {
  background-image: url(../img/group.png);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  width: 826px;
  padding-right: 152px;
  padding-top: 86px;
  margin: 0 auto;
}

.title h2 {
  text-align: right;
  color: #b0b0b0;
  font-size: 22px;
  margin-bottom: 56px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.6px;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
  width: 826px;
  height: 100px;
  background: #34b7ce;
  border-radius: 20px 20px 0 0;
}

.navbar h1 {
  color: #fff;
  margin-left: 138px;
  padding-top: 32px;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar img {
  margin-left: 42px;
  margin-top: 10px;
  position: absolute;
}

.content__head {
  width: 826px;
  height: 604px;
  border: 1px solid #cecece;
  border-radius: 20px;
  background: #f5f5f5;
  margin: 0 auto;
}

.main {
  width: 828px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__left {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head1, .head2 {
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gor__line {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.gor__line img {
  margin-top: 38px;
}

.gor__line a {
  position: relative;
  font-size: 40px;
}

.gor__line a:before {
  display: block;
  width: 150px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #c4c4c4;
  top: 10px;
  right: 35px;
}

.gor__line a:after {
  display: block;
  width: 150px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #c4c4c4;
  top: 10px;
  left: 35px;
}

.verl__line {
  border: 1px solid #c7b9b9;
  margin-top: 100px;
  height: 336px;
  opacity: 0.8;
}

.login-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
  padding: 20px 36px 20px 20px;
  height: 400px;
}

.login-form__input {
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

.login-field {
  width: 356px;
  height: 52px;
  border-radius: 10px;
  padding-left: 20px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 100;
}

.register-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
  padding: 34px 32px 30px 28px;
  height: 500px;
}

.register-form p {
  color: #b9b9b9;
  font-size: 1.125em;
  line-height: 18px;
  margin: 0 0 40px 0;
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif;
}

.register-form label {
  font-size: 0.875em;
  color: #b4b4b4;
  font-family: 'Open Sans', sans-serif;
}

.register-form__input {
  margin-bottom: 30px;
  border: 2px solid linear-gradient(-45deg, #767676 0%, #212121 100%);
}

.register-email, .user,
.register-password {
  width: 356px;
  height: 52px;
  border-radius: 10px;
  padding-left: 20px;
  border: 2px solid linear-gradient(-45deg, #767676 0%, #212121 100%);
}

.validateBtn {
  width: 152px;
  height: 48px;
  border-radius: 10px;
  font-size: 1.25em;
  border: none;
  color: #fff;
  font-weight: 600;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: linear-gradient(45deg, #024f70 0%, #43a5d0 100%);
  border: 2px solid #2882a8;
  margin-right: 0;
}

.validateBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.validateBtn1 {
  width: 152px;
  height: 48px;
  border-radius: 10px;
  font-size: 1.25em;
  border: none;
  color: #fff;
  font-weight: 600;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: linear-gradient(45deg, #ae7b00 0%, #eea800 100%);
  border: 2px solid #cb8f00;
  display: block;
  margin-right: 0;
}

.validateBtn1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.check {
  margin: 10px 0 20px 0;
}

.check_block {
  margin-left: 0;
}

.check__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 356px;
}

.check__btn span {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

[data-tooltip] {
  position: relative;
  font-size: 0.875em;
  color: #b4b4b4;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 200px;
  left: 0;
  top: 0;
  background: #fff;
  color: #bcaaaa;
  padding: 0.5em;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
  font-size: 1em;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: 2em;
  left: -5rem;
}

@media screen and (max-width: 992px) {
  .content {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .content h2 {
    text-align: center;
    width: auto;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 86px 20px 0 20px;
  }
  .head1 {
    height: 300px;
  }
  .head2 {
    height: 490px;
  }
  .verl__line {
    display: none;
  }
  .content__head {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .navbar {
    width: 100%;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .login-field {
    width: 100%;
  }
  .check__btn {
    width: 100%;
  }
  .register-email, .user, .register-password {
    width: 100%;
  }
  [data-tooltip]:hover::after {
    left: 0;
  }
  .validateBtn {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .content h2 {
    font-size: 1em;
    text-align: center;
    margin: 10px;
  }
  .navbar h1 {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */